<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482123688743-ks1l6q00gj6rgbfv4ovucs3f94fgmpb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482123688743-ks1l6q00gj6rgbfv4ovucs3f94fgmpb3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>482123688743-sk9nuucdb4vgvjtl4o76i3hqung4a41u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSNfmFx5oeJbJwoQErVWvI5VlMoLqKsiI</string>
	<key>GCM_SENDER_ID</key>
	<string>482123688743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vku.com.vkuniversal</string>
	<key>PROJECT_ID</key>
	<string>coherent-fx-344515</string>
	<key>STORAGE_BUCKET</key>
	<string>coherent-fx-344515.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482123688743:ios:2cbd8689bbe9b334b4d702</string>
	<key>DATABASE_URL</key>
	<string>https://coherent-fx-344515-default-rtdb.firebaseio.com</string>
</dict>
</plist>